# admin/config.yml
backend:
  name: git-gateway
  base_url: https://niko.io/projects/netlify-bones
  site_domain: niko.io/projects/netlify-bones
  branch: master
media_folder: media
# public_folder: /assets
collections:
  - name: "pages"
    label: "Pages"
    label_singular: "Page" # Used in the UI, ie: "New Post"
    folder: "content"
    create: true
    fields:
      - { label: "Title", name: "title", widget: "string"}
      - { label: "Publish Date", name: "date", widget: "datetime", required: false }
      - { label: "Subtitle", name: "subtitle", widget: "string", required: false}
      - { label: "Cover", name: "cover", widget: "image", required: false }
      - { label: "Tags", name: "tags", widget: "string", required: false }
      - { label: "Body", name: "body", widget: "markdown", required: false }
